.vs/
ConsoleApp1/obj/
ConsoleApp1/bin/
ConsoleAppVB1/obj/
ConsoleAppVB1/bin/
WindowsAppVB1/obj/
WindowsAppVB1/bin/
WindowsFormsApp1/obj/
WindowsFormsApp1/bin/
packages/
UnitTestProject1/obj/
UnitTestProject1/bin/
UnitTestProjectVB1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.vb
UnitTestProjectVB1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnitTestProjectVB1/obj/Debug/UnitTestProjectVB1.dll
UnitTestProjectVB1/obj/Debug/UnitTestProjectVB1.pdb
UnitTestProjectVB1/obj/Debug/UnitTestProjectVB1.Resources.resources
UnitTestProjectVB1/obj/Debug/UnitTestProjectVB1.vbproj.CopyComplete
UnitTestProjectVB1/obj/Debug/UnitTestProjectVB1.vbproj.CoreCompileInputs.cache
UnitTestProjectVB1/obj/Debug/UnitTestProjectVB1.vbproj.FileListAbsolute.txt
UnitTestProjectVB1/obj/Debug/UnitTestProjectVB1.vbproj.GenerateResource.cache
UnitTestProjectVB1/obj/Debug/UnitTestProjectVB1.vbprojAssemblyReference.cache
UnitTestProjectVB1/obj/Debug/UnitTestProjectVB1.xml
UnitTestProjectVB1/bin/
